@import "../../../GlobalStyle.scss";

.carditem-output-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: $bg-secondary;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: 400px;

    .carditem-title {
        &:hover {
            cursor: pointer;
            color: $gray-color;
        }

        p {
            font-weight: 500;
        }
    }

    .carditem-output-controller {
        display: flex;
        align-items: center;
        gap: 8px;
        user-select: none;

        svg:hover {
            cursor: pointer;
        }
    }
}
