@import "../../GlobalStyle.scss";

.input-container {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 240px;
    border-radius: 6px;
    border: 1px solid $gray-color;
    padding: 10px 8px 10px 10px;
    text-align: left;

    .input {
        background-color: transparent;
        outline: none;
        border: none;
        color: #373737be;
        font-size: 14px;
        flex: 1;
    }

    .input-icon {
        margin-right: 8px;
    }

    .toggle-password {
        cursor: pointer;
        color: #242424cb;
        font-size: 18px;
        margin-left: 8px;
        display: flex;
        align-items: center;
    }

    &.input-error {
        border: 1px red solid;
    }
}
