@import "../../GlobalStyle.scss";

.output-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 48px;
    height: 100vh;
    max-height: 100vh;
    gap: 8px;

    .title-line {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 600;
            color: $primary-color;
            font-size: 40px;
            text-align: center;
        }
    }

    .cards-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        position: relative;
        width: 100%;
        border: 2px solid $primary-color;
        border-radius: 8px;
        padding: 20px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $primary-color;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $secondary-color;
        }

        .modal-item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;

            h3 {
                text-align: center;
                font-weight: 500;
            }

            .modal-button {
                display: flex;
                justify-content: center;
            }
        }

        .modal-add-plate {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            flex: 1;
            gap: 16px;
            width: 500px;

            .modal-add-title {
                color: $gray-color;
                margin: 0;
            }
        }

        .icon {
            position: fixed;
            right: 40px;
            bottom: 60px;
            background-color: $bg-primary;
            color: $primary-color;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

            &:hover {
                cursor: pointer;
                color: $secondary-color;
            }
        }

        .button-plate {
            position: fixed;
            left: 40px;
            bottom: 60px;
            background-color: $bg-primary;
            color: $primary-color;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
        }
    }

    .buttons-content {
        display: flex;
    }

    .add-ingredient-input-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > div {
            display: flex;
            gap: 8px;
        }
    }

    .ingredients-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $gray-color;
        gap: 8px;

        .ingredients-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
            width: 100%;

            p {
                display: flex;
                align-items: center;
                gap: 8px;
                list-style: none;
                padding: 6px 12px;
                background-color: $primary-color;
                color: white;
                border-radius: 16px;
                width: fit-content;
                transition: 0.3s ease;
                margin: 0;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(219, 79, 74);
                }
            }
        }
    }
}
